<h1>Sign up</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <form name='signupForm' ng-submit='vm.signup()' ng-valid="vm.user.confirm === vm.user.password" novalidate>
            <div class="form-group">
                <label for="username">
                    Username
                </label>
                <input class="form-control" type="text" name="username" id="username" ng-model='vm.user.username' />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" ng-model='vm.user.password' />
            </div>

            <div class="form-group">
                <label for="password">Confirm password</label>
                <input class="form-control" type="password" name="password" id="password" ng-model='vm.user.confirm' />
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    Sign up
                </button>
            </div>

            <div class="btn-group">
                <div class="form-group">
                    <a href="" class="btn btn-primary">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        Sign up with Facebook
                    </a>
                </div>
                
                <div class="form-group">
                    <a href="" class="btn btn-danger">
                        <i class="fa fa-google" aria-hidden="true"></i>
                        Sign up with Google
                    </a>
                </div>
            </div>

        </form>
        <div ng-if='vm.msg' class="alert alert-danger" role="alert">
            <i class='fa fa-exclamation-triangle'></i>
            {{vm.msg}}
        </div>
    </div>
</div>