<h1>Home</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <h4 ng-if='!vm.user'>Please
            <a ui-sref='login'>login</a> first.</h4>
        <h3 ng-if='vm.user'>Welcome back, {{vm.user | uppercase}}!</h3>
    </div>
</div>